[font~='italic'] {
	font-variation-settings: 'MONO' 0.5, 'CASL' 0, 'ital' 1, 'slnt' 0;
}

[font~='casual-italic'] {
	font-variation-settings: 'MONO' 0.5, 'CASL' 1, 'ital' 1, 'slnt' 0;
}

[font~='bold'] {
	font-weight: 600;
}


[font~='black'] {
	color: #111;
}

[font~='white'] {
	color: #fff;
}
