@import 'atomics/@imports.scss';

@font-face {
	font-family: 'League Spartan';
	src: url(fonts/LeagueSpartanVariable.woff2);
}

@font-face {
	font-family: 'Recursive';
	src: url(../fonts/recursive.woff2) format('woff2-variations');
	font-weight: 300 1000;
}

:root {
	// --fancy-bg-color-1: #333;
	// --fancy-bg-color-2: #444;
	// --fancy-bg-height: 50vh;
	// --fancy-bg-width: 100vw;
	// --fancy-bg-transform-1: skewY(0deg) translateY(-50vh);
	// --fancy-bg-transform-2: skewY(0deg) translateY(-50vh);
	// --fancy-bg-opacity: 1;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	overflow-x: hidden;
	font-family: 'Recursive', Arial;
	color: #fff;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	background-color: #141a24;
}

achievement imeru img[loaded='true'] {
	// opacity: 1;
	transform: scale(1) rotateZ(0deg);
}

@supports (font-variation-settings: normal) {
	body {
		font-variation-settings: 'MONO' 0.5, 'CASL' 0, 'ital' 1, 'slnt' 0;
		font-family: 'Recursive', Arial;

		// font-family: 'League Spartan', Arial;
	}
}
