/********************** Flexbox **********************/
[flex] {
	display: flex;
}

[flex~='column-dir'] {
	flex-direction: column;
}

[flex~='justify-center'] {
	justify-content: center;
}

[flex~='align-center'] {
	align-items: center;
}

[flex~='justify-end'] {
	justify-content: flex-end;
}
