$waikawa-grey: #5d6d83;
$waikawa-grey-filter: invert(43%) sepia(32%) saturate(332%) hue-rotate(175deg) brightness(89%) contrast(87%);

$biscay: #313e52;
$biscay-filter: invert(22%) sepia(14%) saturate(1162%) hue-rotate(177deg) brightness(96%) contrast(92%);

$blue: #2796e8;
$blue-filter: invert(59%) sepia(40%) saturate(7076%) hue-rotate(162deg) brightness(96%) contrast(101%);

$bluetiful: #539cff;
$bluetiful-filter: invert(53%) sepia(49%) saturate(1661%) hue-rotate(192deg) brightness(101%) contrast(101%);

$turquiful: #4addeb;
$turquiful-filter: invert(65%) sepia(97%) saturate(314%) hue-rotate(137deg) brightness(102%) contrast(84%);

$dark-chocolate: #271403;
$dark-chocolate-filter: invert(10%) sepia(23%) saturate(1449%) hue-rotate(347deg) brightness(93%) contrast(102%);

$copper: #ffa53c;
$copper-filter: invert(62%) sepia(71%) saturate(487%) hue-rotate(343deg) brightness(102%) contrast(101%);

$silver: #90acbc;
$silver-filter: invert(71%) sepia(55%) saturate(134%) hue-rotate(158deg) brightness(85%) contrast(88%);

$gold: #efc22c;
$gold-filter: invert(57%) sepia(73%) saturate(427%) hue-rotate(9deg) brightness(116%) contrast(95%);

$blood: #ed4356;
$blood-filter: invert(33%) sepia(31%) saturate(5366%) hue-rotate(334deg) brightness(103%) contrast(86%);

$celestial: #424da0;
$celestial-filter: invert(26%) sepia(92%) saturate(668%) hue-rotate(202deg) brightness(93%) contrast(90%);

:root {
	--waikawa-grey: #{$waikawa-grey};
	--biscay: #{$biscay};
	--blue: #{$blue};
	--dark-chocolate: #{$dark-chocolate};
	--bluetiful: #{$bluetiful};
}

@media (prefers-color-scheme: light) {
	:root {
		--background-color-separator: #fafafa;
		--odd-table-bg-color: #fff;
		--even-table-bg-color: #f7f7f7;
	}

	body {
		color: #090f15;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--background-color-separator: #080808;
		--odd-table-bg-color: #000;
		--even-table-bg-color: #070707;
	}

	body {
		color: #e1e8f7;
	}
}
