/********************** Flexbox **********************/
[flex] {
	display: flex;
}

[flex~='direction-column'] {
	flex-direction: column;
}

[flex~='direction-row'] {
	flex-direction: row;
}

[flex~='justify-center'] {
	justify-content: center;
}

[flex~='justify-end'] {
	justify-content: flex-end;
}

[flex~='justify-between'] {
	justify-content: space-between;
}

[flex~='justify-around'] {
	justify-content: space-around;
}

[flex~='align-center'] {
	align-items: center;
}

[flex~='wrap'] {
	flex-wrap: wrap;
}

[flex~='gapped'] > * {
	margin: 0.5rem;
}
