/********************** Icon **********************/
[icon] {
	height: 100%;
}

[icon~='fit-width'] {
	width: 100%;
	height: auto;
}

[icon~='fit-heigth'] {
	height: 100%;
	width: auto;
}

[icon~='size-base'] {
	height: 1rem;
}

@for $i from 0 through 19 {
	[icon~='size-#{$i+1}'] {
		height: #{$i * $step-font-size + $min-font-size}rem;
	}
}
