/********************** Icon **********************/
[icon] {
	height: 100%;
}

[icon~='fit-width'] {
	width: 100%;
	height: auto;
}

[icon~='fit-heigth'] {
	height: 100%;
	width: auto;
}

[icon~='waikawa-grey'] {
	filter: $waikawa-grey-filter;
}

[icon~='biscay'] {
	filter: $biscay-filter;
}

[icon~='blue'] {
	filter: $blue-filter;
}

[icon~='white'] {
	filter: invert(100%);
}

[icon~='size-base'] {
	height: 1rem;
}

@for $i from 0 through 10 {
	[icon~='size-#{$i}'] {
		height: #{$i * $step-font-size + 0.75}rem;
	}
}
