/********************** Icon **********************/
[icon] {
	height: 100%;
}

[icon~='fit-width'] {
	width: 100%;
	height: auto;
}

[icon~='fit-heigth'] {
	height: 100%;
	width: auto;
}

[icon~='waikawa-grey'] {
	filter: $waikawa-grey-filter;
}

[icon~='biscay'] {
	filter: $biscay-filter;
}

[icon~='blue'] {
	filter: $blue-filter;
}

[icon~='bluetiful'] {
	filter: $bluetiful-filter;
}

[icon~='dark-chocolate'] {
	filter: $dark-chocolate-filter;
}

[icon~='copper'] {
	filter: $copper-filter;
}

[icon~='silver'] {
	filter: $silver-filter;
}

[icon~='gold'] {
	filter: $gold-filter;
}

[icon~='blood'] {
	filter: $blood-filter;
}

[icon~='celestial'] {
	filter: $celestial-filter;
}

[icon~='white'] {
	filter: invert(100%);
}

[icon~='size-base'] {
	height: 1rem;
}

@for $i from 0 through 19 {
	[icon~='size-#{$i+1}'] {
		height: #{$i * $step-font-size + $min-font-size}rem;
	}
}
