/********************** Text **********************/
[text] {
	transition: color 1s;
}

[text~='center'] {
	text-align: center;
}

$colors: (
	"white": #fff,
	"waikawa-grey": $waikawa-grey,
	"biscay": $biscay,
	"blue": $blue,
	"bluetiful": $bluetiful,
	"cinder": $cinder,
	"copper": $copper,
	"silver": $silver,
	"gold": $gold,
	"blood": $blood,
	"celestial": $celestial
);

html[theme='light'] {
	@each $name, $color in $colors {
		[text~='#{$name}'] {
			color: $color;
		}
	}
}

html[theme='dark'] {
	@each $name, $color in $colors {
		[text-dark~='#{$name}'] {
			color: $color;
		}
	}
}

[text~='rainbow'] {
	animation: $rainbow-animation;
}

@for $i from 0 through 19 {
	[text~='size-#{$i+1}'] {
		font-size: #{$i * $step-font-size + $min-font-size}rem;
	}
}

@for $i from 0 through 9 {
	[text~='weight-#{$i+1}'] {
		font-variation-settings: 'wght' var(--font-weight-#{$i + 1});
	}
}
