/********************** Text **********************/
[text~='center'] {
	text-align: center;
}

[text~='white'] {
	color: #fff;
}

[text~='waikawa-grey'] {
	color: $waikawa-grey;
}

[text~='biscay'] {
	color: $biscay;
}

[text~='blue'] {
	color: $blue;
}

[text~='bluetiful'] {
	color: $bluetiful;
}

@for $i from 0 through 19 {
	[text~='size-#{$i+1}'] {
		font-size: #{$i * $step-font-size + $min-font-size}rem;
	}
}

@for $i from 0 through 9 {
	[text~='weight-#{$i+1}'] {
		font-variation-settings: 'wght' var(--font-weight-#{$i + 1});
	}
}
