$min-font-weight: 200;
$max-font-weight: 800;
$diff-font-weight: ($max-font-weight) - ($min-font-weight);
$step-font-weight: $diff-font-weight / 9;

$min-font-size: 0.5;
$max-font-size: 3;
$step-font-size: ($max-font-size - $min-font-size) / 19;

:root {
	@for $i from 0 through 19 {
		--font-weight-#{$i+1}: #{round($step-font-weight * $i + $min-font-weight)};
	}

	@for $i from 0 through 19 {
		--font-size-#{$i+1}: #{$step-font-size * $i + $min-font-size}rem;
	}
}
