$min-font-weight: 54;
$max-font-weight: 156;
$diff-font-weight: ($max-font-weight) - ($min-font-weight);
$step-font-weight: $diff-font-weight / 9;

$min-font-size: 0.75;
$max-font-size: 2;
$step-font-size: ($max-font-size - $min-font-size) / 10;

:root {
	@for $i from 0 through 9 {
		--font-weight-#{$i+1}: #{round(($step-font-weight * $i) + $min-font-weight)};
	}
}
