/********************** Flexbox **********************/
[flex] {
  display: flex;
}

[flex~='direction-column'] {
  flex-direction: column;
}

[flex~='direction-row'] {
  flex-direction: row;
}

[flex~='justify-center'] {
  justify-content: center;
}

[flex~='justify-end'] {
  justify-content: flex-end;
}

[flex~='justify-between'] {
  justify-content: space-between;
}

[flex~='align-center'] {
  align-items: center;
}

/********************** Icon **********************/
[icon] {
  height: 100%;
}

[icon~='fit-width'] {
  width: 100%;
  height: auto;
}

[icon~='fit-heigth'] {
  height: 100%;
  width: auto;
}

[icon~='blue'] {
  filter: invert(65%) sepia(76%) saturate(5641%) hue-rotate(164deg) brightness(97%) contrast(101%);
}

[icon~='white'] {
  filter: invert(100%);
}

[icon~='small'] {
  height: 40px;
}

[cursor='pointer'] {
  cursor: pointer;
}

@font-face {
  font-family: League-Spartan;
  src: url(./fonts/LeagueSpartanVariable.woff2);
}

:root {
  --fancy-bg-color-1: #333;
  --fancy-bg-color-2: #444;
  --transform-1: skewY(0deg) translateY(0px);
  --transform-2: skewY(0deg) translateY(0px);
  --fancy-bg-opacity: 1;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
  font-family: League-Spartan;
  color: #fff;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@supports (font-variation-settings: normal) {
  body {
    font-family: League-Spartan;
  }
}
