/********************** Flexbox **********************/
[flex] {
  display: flex;
}

[flex~='direction-column'] {
  flex-direction: column;
}

[flex~='direction-row'] {
  flex-direction: row;
}

[flex~='justify-center'] {
  justify-content: center;
}

[flex~='justify-end'] {
  justify-content: flex-end;
}

[flex~='justify-between'] {
  justify-content: space-between;
}

[flex~='align-center'] {
  align-items: center;
}

[grid] {
  display: grid;
}

[grid~='overlap'] * {
  grid-column: 1;
  grid-row: 1;
}

/********************** Icon **********************/
[icon] {
  height: 100%;
}

[icon~='fit-width'] {
  width: 100%;
  height: auto;
}

[icon~='fit-heigth'] {
  height: 100%;
  width: auto;
}

[icon~='blue'] {
  filter: invert(65%) sepia(76%) saturate(5641%) hue-rotate(164deg) brightness(97%) contrast(101%);
}

[icon~='white'] {
  filter: invert(100%);
}

[icon~='small'] {
  height: 40px;
}

[font~='italic'] {
  font-variation-settings: 'XPRN' 1, 'slnt' -15, 'ital' 1;
}

[font~='bold'] {
  font-weight: 600;
}

[font~='black'] {
  color: #111;
}

[font~='white'] {
  color: #fff;
}

[cursor='pointer'] {
  cursor: pointer;
}

[shadow] {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

@font-face {
  font-family: 'League Spartan';
  src: url(./fonts/LeagueSpartanVariable.woff2);
}

@font-face {
  font-family: 'Recursive';
  src: url(./fonts/recursive.woff2) format("woff2-variations");
  font-weight: 300 900;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
  font-family: 'Recursive', Arial;
  color: #fff;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #141a24;
}

achievement imeru img[loaded='true'] {
  transform: scale(1) rotateZ(0deg);
}

@supports (font-variation-settings: normal) {
  body {
    font-variation-settings: 'MONO' 1, 'XPRN' 0, 'slnt' 0, 'ital' 0;
    font-family: 'Recursive', Arial;
  }
}
